@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  display: flex;
  justify-content: center;
  padding:30px
}
.wrapper .static-txt{
    margin:10px;
  color: #0066b3;
  font-size: 42px;
  font-weight: 600;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 60px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #fff;
  font-size: 42px;
  background:green;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -370px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  top:10px;
  height: 100%;
  width: 100%;
  background: green;
  border-left: 1px solid #fff;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.container_inside{
  height:270px;
  position:relative;
  width:300px;
}
