.flip-card {
    height: 400px;
    
}

.flip-card-inner {
    position: relative;
    height: 100%;
    width: 105%;
    text-align: center;
    transition: transform 0.1s;
   
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition: 1s;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flipcard_custom {
    background: linear-gradient(350deg, #f3f3f3 65%, #0066b3 35%) !important;
    /* Measure Big Card Height and Assign to Min Height then all card will be same height  */
    min-height: 420px !important;
    border-radius: 4% !important;
    border-bottom: none !important;
}

.colr_btn:hover {
    background: #fff !important;
    color: #0066b3 !important;
    border: 1px solid transparent !important;
  }