.cards {
  margin-bottom: 15rem !important;
  
}

.evenspace{
    display: flex;
    justify-content:space-between;
 }

.maxminHeight{
    max-height: '170px';
}
.custome-card-test{
  margin-top: 100px !important;
}