.container_Typography   {
    box-shadow: 2px 3px 20px -11px rgb(0 0 0 / 55%);
    border-radius: 20px;
    background: #fdfdfd;
    width: 100%;
    position:absolute;
    bottom:0%;
    
}
.container_inside{
    height:150px;
    position:relative;
    width:200px;
}

p{
    font-family: 'Montserrat', sans-serif !important;
}