
.typography_text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;
}
.siz{
    font-size: 50px !important;
    line-height: 1.2 !important;
    font-weight: 600 !important;
}