.FooterlastContainer{
    width: 100%;
    height: auto;
    font-size: 13px;
    background: #393e4c;
    
}
.FooterlastContainercolor{
    font-size: 14px;
    color: #fff;
}
.fhead{
    padding: 0px 0px 5px !important;
    font-size: 21px !important;
    color:#fff!important;
    
}
.fmar{
    margin-left: -38px !important;
}
.fmarr{
    margin-left: -143px !important;
}
.backg{
    background: url(../../assets/footerbg.jpg) center no-repeat;
    background-size: cover;
    color: #565656;
    color: var(--black);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
p, a, span, h1, h2, h3, h4, h5, h6, div {
    font-family: 'Montserrat', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}

.linkFoot{
    font-size: 15px !important;
    line-height: 1.5;
    color: #fff !important;
    text-decoration: none;
    font-weight: 600 !important;
}
.imghightwidth
{
    max-width: 130px;
    height: auto;
}
.centcol
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centcolul
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fsubs{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

