
p, a, span, h1, h2, h3, h4, h5, h6, div ,li{
  font-family: 'Montserrat', sans-serif !important;
}


.colrbck{
  background-color: #f3f3f3;
}


@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1680px) {
  .container {
    width: 2000px;
  }
}
@media (min-width: 1800px) {
  .container {
    width: 1800px;
  }
}
@media (min-width: 1020px) {
  .container {
    width: 900px;
  }
}