
p, a, span, h1, h2, h3, h4, h5, h6, div ,li{
  font-family: 'Montserrat', sans-serif !important;
}


.colrbck{
  background-color: #f3f3f3;
}




.zoom {
  transition: transform 0.5s ease-in-out; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.09);
}


/* Facilities_Qualities */
.productionbx
{
      min-height: 260px;
      width: 100%;
      height: auto;
      overflow: hidden;
      background: #f9f9f9;
      box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 9%);
      padding: 25px;
      border-radius: 3px!important;
      margin-top: 15px;
      margin-bottom: 15px;
}